.button3 {
    border: 2px solid rgb(255, 0, 0);
  }
  
  .button3:hover {
    color: rgb(255, 0, 0);
    box-shadow: 0 0 5px red,
                0 0 20px red,
                0 0 30px red,
                0 0 50px red;
  }
  
  .button {
    position: relative;
    background: transparent;
    box-sizing: border-box;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
    padding: 20px 40px;
    text-align: center;
    color: aliceblue;
    font-family: Pangolin;
    font-weight: bold;
    cursor: pointer;
    top: 50%;
    text-transform: uppercase;
}