/* body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  overflow:hidden;
} */

.red {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}


/* .container {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  margin-top:-30px;
  text-align:center;
} */


.nice-input {
  position: relative;
}

.nice-input input {
  border:none;
  border-radius:4px;
  padding:7px 10px;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  box-shadow: rgba(0,0,0,.05) 0 5px 20px;
  letter-spacing:0;
  width:265px;
  height:30px;
  color: transparent;
  font-weight:900;
  caret-color: #555;
}

.nice-input input:focus {
  outline:none;
  box-shadow: rgba(0,0,0,.1) 0 5px 20px;
}

.nice-input label {
  position: absolute;
  top: 6px;
  left: 10px;
  letter-spacing:0;
  font-size:0;
}

.nice-input span {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  font-weight:900;
}

.nice-input__animate {
  animation: print .2s 1 ease-in-out;
}

.nice-input--shaked {
  animation: shake .2s 1 ease-in-out;
}
.nice-input--caret {
  caret-color: transparent;
}

@keyframes print {
  from{
  position:absolute;
  transform: scale(50);
  /* uncomment for freeze */  
  /*   filter:blur(1px); */
  }
  99% {
  position:absolute;
  }
  to {
  position:relative;
  }
}

@keyframes shake {
  from,
  to {
  }
  50% {
    transform:scale(0.97);
  }
}

