/* ChatBot.css */

.chatbot-container {
  position: fixed;
  bottom: 3rem;
  left: 30px;
  z-index: 999;
}

.chatbot-icon,
.close-btn {
  background-color: #212428; /* Design color */
  color: #ff014f;
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Adjust shadow color */
}

.chatbot-icon {
  animation: pulse 3s infinite; /* Add pulsating animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.chatbot-icon:hover,
.close-btn:hover {
  background-color: #212428; /* Darker design color on hover */
  animation: none; /* Disable pulsating animation on hover */
}

.chatbot {
  position: fixed;
  bottom: 3rem;
  left: 30px;
  width: 100%;
  max-width: 350px;
  background: linear-gradient(
    145deg,
    #1e2024,
    #23272b
  ); /* Box background gradient */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Adjust shadow color */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform-origin: bottom right;
  opacity: 0;
  transform: scale(0.9) translateY(20px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show-chatbot .chatbot {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.chat-header {
  background-color: #212428; /* Body color */
  color: #c4cfde; /* Light text color */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chat-header h2 {
  margin: 0;
  font-size: 1.8rem;
}

.chat-messages {
  flex: 1;
  max-height: 300px;
  min-height: 250px;
  overflow-y: auto;
  padding: 15px;
}

.message {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 12px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user {
  background-color: #212428; /* Darker body color for user messages */
  color: #c4cfde; /* Light text color */
  align-self: flex-start;
}

.bot {
  background-color: #1a1a1a; /* Dark background color for bot messages */
  color: #fff;
  align-self: flex-end;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-input {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

.chat-input input {
  flex: 1;
  margin-right: 15px;
  padding: 12px;
  border: 1px solid #555; /* Darker border color */
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  color: #c4cfde; /* Light text color */
  background-color: #212428; /* Dark body color */
}

.chat-input input:focus {
  border-color: #ff014f; /* Design color on focus */
}

.chat-input button {
  background-color: #ff014f; /* Design color */
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-input button:hover {
  background-color: #ff4757; /* Darker design color on hover */
}

@media (max-width: 600px) {
  .chatbot {
    width: 80%;
    max-width: none;
  }
}
