.snow-effect-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; /* Adjust z-index to bring the snowfall to the front */
  }
  
  .snowSvg {
    width: 100%;
    height: 100%;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn ease-in-out 2s forwards; /* Use CSS animation to fade in the snowfall */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  