/* Your existing styles for the custom cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  /* border: 2px solid #ff014f; */
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease, background-color 0.2s ease,
    border-radius 0.2s ease;
}

.custom-cursor.hovered {
  background-color: rgba(255, 1, 79, 0.2);
}

.custom-cursor.clicking {
  transform: scale(0.8);
}

.cursor-inner {
  width: 16px;
  height: 16px;
  background-color: #ff014f;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.custom-cursor:hover .cursor-inner {
  transform: scale(1.5);
}

.ripple {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 1, 77, 0.558);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-animation 3s linear infinite;
}

@keyframes ripple-animation {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

/* Add the following media query to hide the custom cursor on mobile devices */
@media (max-width: 767px) {
  .custom-cursor {
    display: none;
  }
}

/* CircleCursor.css */

/* Hide the custom cursor when it's over input, textarea, or select */
.cursor-over-input .custom-cursor {
  display: none !important;
}

